table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 12px;
    text-align: left;
    white-space: nowrap;
}
table#comparisons {
    width: 30%;
}

#comparisons th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #2e5090;
    color: white;
}

td#error {
    background-color: #FF7F50;
}

td#missing {
    background-color: #FFBF00;
}