table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    font-family: monospace, monospace;
}
th, td {
    padding: 12px;
    text-align: left;
    white-space: nowrap;
    font-family: monospace, monospace;
}
table#comparisons {
    width: 30%;
}
h1, h2, h3, h4, h5 {
    font-family: monospace, monospace;
}

#comparisons th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #2e5090;
    color: white;
}

td#value_error {
    background-color: #FF7F50;
}

td#value_missing {
    background-color: #FFBF00;
}

td#value_present {
    background-color: #b3d80f;
}

td#value_indeterminate {
    background-color: #3abeff;
}